<h1>Home Page</h1>
<header class="jumbotron">
  <div class="container">
    <h1>Welcome to our Landing Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dolor ac mauris euismod lobortis. Proin
      condimentum feugiat orci, sed feugiat leo consectetur nec. Quisque nec nisl diam.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
  </div>
</header>
<section class="section">
  <div class="container">
    <h2>Section Title</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel dolor ac mauris euismod lobortis. Proin
      condimentum feugiat orci, sed feugiat leo consectetur nec. Quisque nec nisl diam.</p>
  </div>
</section>
